<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVXTE Web GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pvxte-simple-sidebar/css/styles_pvxte.css') }}">
</head>
<body>
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-pvxte-top-bar border-bottom">
                <div class="container-fluid-coloured-pvxte">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('index') }}">{{ 'Home' }}</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="#">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('login') }}">{{ gettext('Login') }}</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="#">&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('signup', lang='it') }}">{{ 'Registrazione' }}</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('signup', lang='de') }}">{{ 'Anmeldung' }}</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('signup', lang='fr') }}">{{ 'Inscription' }}</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('signup', lang='en') }}">{{ 'Signup' }}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    {% block content %} {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

</div>

<footer>
    {% include 'footer_not_logged_home.html' %}
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="static/'pvxte-simple-sidebar/js/scripts_pvxte.js"></script>
</html>