{% extends 'base.html' %}

{% block content %}
    {% if 'username' in session.keys() and session['username'] != '' %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>{{ gettext('Simulation results') }} :</h3></a>
              </li>
        </ul>
    </nav>

    <br>
    <div class="table-container">
        <div class="table-left">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="3">{{ gettext('Buses and batteries sizing') }} </td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Bus id') }} :</td>
                        <td>{{ gettext('Battery size') }} [kWh]:</td>
                        <td>{{ gettext('Battery packs') }} :</td>
                    </tr>
                </thead>
                <tbody>
                    {% for bsize in data['df_bsize'].iterrows() %}
                        <tr>
                            <td>{{ bsize[1]['Bus id']|int }}</td>
                            <td>{{ bsize[1]['Battery side (kWh)']|int }}</td>
                            <td>{{ bsize[1]['Battery packs']|int }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <td colspan="3">{{ gettext('Drivers sizing') }}:</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">{{ gettext('Minimum number') }}:</td>
                        <td>{{ data['min_num_drivers']|int }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-middle">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="3">{{ gettext('Investment costs') }}:</td>
                </tr>
                <tr>
                    <td></td><td>{{ gettext('Cost') }} [CHF]</td><td>{{ gettext('Lifetime') }} [{{ gettext('years') }}]</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ gettext('Bus') }}:</td>
                    <td>{{ capex_features['capex_bus_cost']|int }}</td>
                    <td>{{ capex_features['capex_bus_lifetime']|int }}</td>
                </tr>
                <tr>
                    <td>{{ gettext('Battery') }}:</td>
                    <td>{{ capex_features['capex_battery_cost']|int }}</td>
                    <td>{{ capex_features['capex_battery_lifetime']|int }}</td>
                </tr>
                <tr>
                    <td>{{ gettext('Charger') }}:</td>
                    <td>{{ capex_features['capex_charger_cost']|int }}</td>
                    <td>{{ capex_features['capex_charger_lifetime']|int }}</td>
                </tr>
                <thead>
                <tr>
                    <td colspan="3"></td>
                </tr>
                </thead>
                <tr>
                    <td>{{ gettext('Interest rate') }}:</td>
                    <td colspan="2">{{ capex_features['capex_interest_rate']|int }} %</td>
                </tr>
                <tr>
                    <td>{{ gettext('Additional fee') }}:</td>
                    <td colspan="2">{{ capex_features['capex_additional_fee']|int }} CHF</td>
                </tr>
                <tr>
                    <td><b>{{ gettext('CAPEX') }}:</b></td>
                    <td colspan="2"><b>{{ capex_features['capex_cost']|int }} kCHF/{{ gettext('year') }}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-right">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="2">{{ gettext('Operational costs') }}:</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ gettext('Energy tariff') }}:</td>
                    <td colspan="2">{{ opex_features['opex_energy_tariff'] }} CHF/kWh</td>
                </tr>
                <tr>
                    <td>{{ gettext('Buses maintenance') }}:</td>
                    <td>{{ opex_features['opex_buses_maintainance'] }} CHF/km</td>
                </tr>
                <tr>
                    <td>{{ gettext('Buses efficiency') }}:</td>
                    <td>{{ opex_features['opex_bus_efficiency_sim']|round(2) }} kWh/km</td>
                </tr>
                <tr>
                    <td>{{ gettext('Annual usage') }}:</td>
                    <td>{{ opex_features['opex_annual_usage'] }} km</td>
                </tr>
                <tr>
                    <td><b>{{ gettext('OPEX') }}:</b></td>
                    <td colspan="2"><b>{{ opex_features['opex_cost']|int }} kCHF/{{ gettext('year') }}</b></td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">{{ gettext('TTW emissions saved (diesel comparison)') }}:</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CO<sub>2</sub>:</td>
                    <td colspan="2">{{ emissions['CO2']['value']|round(2) }} {{ emissions['CO2']['unit'] }}/{{ gettext('year') }}</td>
                </tr>
                <tr>
                    <td>NO<sub>X</sub>:</td>
                    <td colspan="2">{{ emissions['NOx']['value']|round(2) }} {{ emissions['NOx']['unit'] }}/{{ gettext('year') }}</td>
                </tr>
                <tr>
                    <td>PM10:</td>
                    <td colspan="2">{{ emissions['PM10']['value']|round(2) }} {{ emissions['PM10']['unit'] }}/{{ gettext('year') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br><br><br>
    <div class="centered-content">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <a class="nav-link"><h4>{{ gettext('Plot section') }}:</h4></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='plot/') }}{{ session['id_user'] }}_{{ sim_metadata[2] }}.png" style="width:1080px;height:495px;">
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='plot/') }}{{ session['id_user'] }}_{{ sim_metadata[2] }}_charge_profile.png" style="width:1080px;height:495px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br><br><br><br>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a class="nav-link"><h4>{{ gettext('Download section') }}:</h4></a><br>
                    </td>
                    <td><b>{{ gettext('Results') }}:</b></td>
                    <td>
                        <a class="link-dark" href="{{ url_for('static', filename='output-df/') }}{{ session['id_user'] }}_{{ sim_metadata[2] }}.csv">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </a>
                    </td>
                    <td><b>{{ gettext('Raw data') }}:</b></td>
                    <td>
                        <a class="link-dark" href="{{ url_for('static', filename='output/') }}{{ session['id_user'] }}_{{ sim_metadata[2] }}.zip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

<footer>
    {% include 'footer_logged.html' %}
</footer>

{% endblock %}