{% extends 'base.html' %}

{% block content %}
    {% if 'username' in session.keys() and session['username'] != '' %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>{{ gettext('Simulation results') }} <i>{{ sim_name }}</i>:</h3></a>
              </li>
        </ul>
    </nav>
    <br>
    <div class="table-container">
        <div class="table-p11">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="3">{{ gettext('Main simulation inputs') }} </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Bus model') }}</td>
                        <td style="text-align: right;">
                            <a class="link-dark" href="{{ url_for('edit_bus_model', id_bus_model=input_bus_model_data['id']) }}" target="_blank">{{ input_bus_model_data['name'] }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Bus cost') }}</td>
                        <td style="text-align: right;">{{ input_pars['capex_bus_cost']|int }} kCHF</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Deposit charger cost') }}</td>
                        <td style="text-align: right;">{{ input_pars['capex_charger_cost']|int }} kCHF</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Not deposit charger cost') }}</td>
                        <td style="text-align: right;">{{ capex_features['capex_single_not_depo_charger_investment']|int }} kCHF</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Pantograph maximum charging power') }}</td>
                        <td style="text-align: right;">{{ input_pars['p_max'] }} kW</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Maximum charging power at deposit') }}</td>
                        <td style="text-align: right;">{{ input_pars['pd_max'] }} kW</td>
                    </tr>
<!--                    <tr>-->
<!--                        <td style="text-align: left;">{{ gettext('Buses efficiency') }}</td>-->
<!--                        <td style="text-align: right;">{{ input_pars['opex_buses_efficiency'] }} kWh/km</td>-->
<!--                    </tr>-->
                    <tr>
                        <td style="text-align: left;">{{ gettext('Buses maintainance') }}</td>
                        <td style="text-align: right;">{{ input_pars['opex_buses_maintainance'] }} CHF/km</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Annual usage per single bus') }}</td>
                        <td style="text-align: right;">{{ input_pars['opex_annual_usage'] }} km</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Energy tariff') }}</td>
                        <td style="text-align: right;">{{ input_pars['opex_energy_tariff'] }} CHF/kWh</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Connection cost') }}</td>
                        <td style="text-align: right;">{{ input_pars['capex_additional_fee'] }} CHF/kW</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Energy model calibration parameter') }}</td>
                        <td style="text-align: right;">{{ input_pars['energy_model_calibration_scale_factor'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">{{ gettext('Diesel cost for comparison') }}</td>
                        <td style="text-align: right;">{{ input_pars['opex_diesel_cost_per_liter'] }} CHF/L</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-p12">
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2">{{ gettext('Results') }}: {{ gettext('Buses and batteries sizing') }} </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: left;"><b>{{ gettext('Number of buses') }}</b></td>
                        <td style="text-align: right;">{{ bus_data['number'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>{{ gettext('Battery packs for each bus') }}</b></td>
                        <td style="text-align: right;">{{ bus_data['battery_packs_number'] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><b>{{ gettext('Total capacity of a bus') }}</b></td>
                        <td style="text-align: right;">{{ bus_data['battery_packs_capacity']|int }} kWh</td>
                    </tr>
<!--                    <tr>-->
<!--                        <td style="text-align: left;"><b>{{ gettext('Minimum number of drivers') }}</b></td>-->
<!--                        <td style="text-align: right;">{{ data['min_num_drivers'] }}</td>-->
<!--                    </tr>-->
                    <tr>
                        <td style="text-align: left;"><b>{{ gettext('Buses efficiency') }}</b></td>
                        <td style="text-align: right;">{{ opex_features['opex_bus_efficiency_sim']|round(2) }} kWh/km</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-p13">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="3">{{ gettext('Results') }}: {{ gettext('Investment costs') }} [kCHF/{{ gettext('year')}}]</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: right;">{{ gettext('years')}}</td>
                    <td style="text-align: right;">kCHF/{{ gettext('year')}}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: left;">{{ gettext('Buses') }}</td>
                    <td style="text-align: right;">{{ ((input_pars['capex_bus_lifetime']|int)/1)|int }}</td>
                    <td style="text-align: right;">{{ ((capex_opex_costs['capex_bus_cost']|int)/1)|int }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">{{ gettext('Batteries') }}</td>
                    <td style="text-align: right;">{{ ((input_pars['capex_battery_lifetime']|int)/1)|int }}</td>
                    <td style="text-align: right;">{{ ((capex_opex_costs['capex_batt_cost']|int)/1)|int }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">{{ gettext('Deposit charger') }}
                    <td style="text-align: right;">{{ ((input_pars['capex_charger_lifetime']|int)/1)|int }}</td>
                    <td style="text-align: right;">{{ ((capex_opex_costs['capex_depo_charger_cost']|int)/1)|int }}</td>
                </tr>
               <tr>
                    <td style="text-align: left;">{{ gettext('Other chargers (e.g. pantographs)') }}
                   <td style="text-align: right;">{{ ((input_pars['capex_panto_lifetime']|int)/1)|int }}</td>
                    <td style="text-align: right;">{{ ((capex_opex_costs['capex_not_depo_charger_cost']|int)/1)|int }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;">{{ gettext('Connection fee') }}</td>
                    <td style="text-align: right;">{{ ((input_pars['capex_additional_fee_lifetime']|int)/1)|int }}</td>
                    <td style="text-align: right;">{{ ((capex_opex_costs['capex_add_fee']|int)/1)|int }}</td>
                </tr>
                <tr><td colspan="3"></td></tr>
                </tbody>
                <tr>
                    <td style="text-align: left;"><b>{{ gettext('Total') }}</b></td>
                    <td style="text-align: right;" colspan="2"><b>{{ capex_opex_costs['capex_cost_ann']|int }}</b></td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>{{ gettext('Total') }} ({{ gettext('diesel') }})</b></td>
                    <td style="text-align: right;" colspan="2"><b>{{ capex_opex_costs['capex_cost_ann_diesel']|int }}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-p14">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="3">{{ gettext('Results') }}: {{ gettext('Operational costs') }} [kCHF/{{ gettext('year') }}]</td>
                </tr>
                <tr>
                    <td style="text-align: center;">{{ gettext('Cost') }}</td>
                    <td style="text-align: center;">{{ gettext('Electrical') }}</td>
                    <td style="text-align: center;">{{ gettext('Diesel') }}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: left;">{{ gettext('Maintenance') }}</td>
                    <td style="text-align: center;">{{ capex_opex_costs['opex_cost_maintenance']|int }} </td>
                    <td style="text-align: center;">{{ capex_opex_costs['opex_cost_maintenance_diesel']|int }} </td>
                </tr>
                <tr>
                    <td style="text-align: left;">{{ gettext('Consumption') }}</td>
                    <td style="text-align: center;">{{ capex_opex_costs['opex_cost_consumption']|int }} </td>
                    <td style="text-align: center;">{{ capex_opex_costs['opex_cost_consumption_diesel']|int }} </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>{{ gettext('Total') }}</b></td>
                    <td style="text-align: center;"><b>{{ capex_opex_costs['opex_cost']|int }}</b></td>
                    <td style="text-align: center;"><b>{{ capex_opex_costs['opex_cost_diesel']|int }}</b></td>
                </tr>
                <tr style="border: white;"><td colspan="3"></td></tr>
                <tr style="border: white;"><td colspan="3"></td></tr>
                </tbody>
                <thead>
                <tr>
                    <td colspan="3">{{ gettext('TTW emissions saved (diesel comparison)') }}:</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: left;"><b>CO<sub>2</sub></b></td>
                    <td style="text-align: left;"></td>
                    <td style="text-align: right;">{{ emissions['CO2']['value']|round(2) }} {{ emissions['CO2']['unit'] }}/{{ gettext('year') }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>NO<sub>X</sub></b></td>
                    <td style="text-align: left;"></td>
                    <td style="text-align: right;">{{ emissions['NOx']['value']|round(2) }} {{ emissions['NOx']['unit'] }}/{{ gettext('year') }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><b>PM10</b></td>
                    <td style="text-align: left;"></td>
                    <td style="text-align: right;">{{ emissions['PM10']['value']|round(2) }} {{ emissions['PM10']['unit'] }}/{{ gettext('year') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br><br><br><br>
    <div class="graphs-container">
        <div class="plot-container">
            <div id="plot" class="plot"></div>
        </div>
        <script>
            var plotDiv = document.getElementById('plot');
            var data = [
                {
                    x: {{ capex_opex_costs['capex_opex_years'] | safe }},
                    y: {{ capex_opex_costs['capex_opex_cost_at_year'] | safe }},
                    mode: 'lines+markers',
                    name: '{{ gettext('Electrical') }}',
                    line: {color: 'green'}
                },
                {
                    x: {{ capex_opex_costs['capex_opex_years'] | safe }},
                    y: {{ capex_opex_costs['capex_opex_cost_at_year_diesel'] | safe }},
                    mode: 'lines+markers',
                    name: '{{ gettext('Diesel') }}',
                    line: {color: 'red'}
                }
            ];
            var layout = {
                title: '{{ gettext('Break point analysis') }}',
                xaxis: { title: '{{ gettext('Year') }}' },
                yaxis: { title: '{{ gettext('Cost') }} [M CHF]' },
                responsive: true
            };

            // Create the plot
            Plotly.newPlot(plotDiv, data, layout);
        </script>

        <div class="plot-container">
            <div id="bargraph" class="plot">
                {{ plot_div|safe }}
            </div>
        </div>
    </div>

    {% endif %}

<footer>
    {% include 'footer_logged.html' %}
</footer>

{% endblock %}