{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>{{ gettext('User management') }}:</h3></a>
              </li>
        </ul>
    </nav>
    <form method="post" enctype = "multipart/form-data">
        <input type="hidden" class="form-control-sm" name="type" value="change_settings">
        <fieldset>
            <table class="table-sm-form">
                <thead>
                <tr>
                    <td colspan="3" align="center">{{ gettext('Main settings') }}:</td>
                </tr>
                <tbody>
                    <tr>
                        <td>{{ gettext('Name') }}</td>
                        <td><input type="text" class="form-control-sm" name="username" value="{{ user_data['username'] }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Email') }}</td>
                        <td><input type="text" class="form-control-sm" name="email" value="{{ user_data['email'] }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Language') }}</td>
                        <td>
                            <select class="form-select" name="language">
                                {% for k in languages.keys() %}
                                    {% if session['language'] == k %}
                                        <option selected="selected" value="{{ k }}">{{ languages[k] }}</option>
                                    {% else %}
                                        <option value="{{ k }}">{{ languages[k] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button type="submit" class="btn btn-dark" onclick="return confirm('{{ gettext('You are updating your profile settings! Are you sure?') }}')">{{ gettext('Update') }}</button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
    <br><br>
    <form method="post" enctype = "multipart/form-data">
        <input type="hidden" class="form-control-sm" name="type" value="change_pwd">
        <fieldset>
            <table class="table-sm-form">
                <thead>
                <tr>
                    <td colspan="3" align="center">Password:</td>
                </tr>
                <tbody>
                    <tr>
                        <td>{{ gettext('New password') }}:</td>
                        <td><input type="password" class="form-control-sm" name="password" value=""></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Retype New password') }}:</td>
                        <td><input type="password" class="form-control-sm" name="confirm" value=""></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button type="submit" class="btn btn-dark" onclick="return confirm('{{ gettext('You are changing your password! Are you sure?') }}')">{{ gettext('Change password') }}</button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

  {% if error %}
    <br>
    <a class="nav-link"><h3><strong>Error:</strong> {{ error }}</h3></a>
  {% endif %}
{% endblock %}