{% block content %}
<br><br>
<div class="table_logos">
    <div class="cell_logos"><img src="static/logos/supsi.png" style="width:205px;height:88px;"></div>
    <div class="cell_logos"><img src="static/logos/amsa.png" style="width:320px;height:120px;"></div>
    <div class="cell_logos"><img src="static/logos/fart.png" style="width:192px;height:144px;"></div>
    <div class="cell_logos"><img src="static/logos/protoscar.png" style="width:280px;height:132px;"></div>
    <div class="cell_logos"><img src="static/logos/ch.png" style="width:256px;height:64px;"></div>
</div>
{% endblock %}
