{% block content %}
<br><br><br><br>
<div class="table_logos_small">
    <div class="cell_logos"><img src="../static/logos/supsi.png" style="width:102px;height:44px;"></div>
    <div class="cell_logos"><img src="../static/logos/amsa.png" style="width:160px;height:60px;"></div>
    <div class="cell_logos"><img src="../static/logos/fart.png" style="width:96px;height:72px;"></div>
    <div class="cell_logos"><img src="../static/logos/protoscar.png" style="width:140px;height:66px;"></div>
    <div class="cell_logos"><img src="../static/logos/ch.png" style="width:128px;height:32px;"></div>
</div>
{% endblock %}
