{% block content %}
<div class="container" align="justify">
    PVxTE è un tool web sviluppato nell'ambito del progetto PVTutt'Elettrico, questi è un progetto che mira a
    sviluppare strategie avanzate per l'elettrificazione della flotta di autobus di una società di trasporti pubblici.
    L'obiettivo principale è ridurre le emissioni
    inquinanti e promuovere una mobilità urbana sostenibile. Attraverso l'adozione di tecnologie all'avanguardia,
    la nostra missione è migliorare l'efficienza energetica dei veicoli, ridurre i costi operativi e contribuire a
    creare un ambiente urbano più pulito e salutare. PVTutt'Elettrico è un passo avanti verso una città più verde e
    la riduzione dell'impatto ambientale del trasporto pubblico, contribuendo in modo significativo alla qualità
    della vita dei cittadini.<br>
    Il progetto è stato finanziato dall' <a href="https://www.bav.admin.ch/bav/it/home.html" target="_blank">Ufficio
    Federale dei Trasporti</a> all'interno delle attività del programma
    <a href="https://www.bav.admin.ch/bav/it/home/temi-generali/ricerca-e-innovazione/programmi-di-ricerca-e-d-innovazione/Energia2050.html" target="_blank">SETP 2050</a>.
</div>
<br>
<div class="container" align="justify">
    PVxTE is a web tool developed as part of the PVEverything Electric project, which is a project that aims to develop
    advanced strategies for the electrification of a public transport company's bus fleet. The main objective is to
    reduce polluting emissions and promote sustainable urban mobility.
    Through the adoption of state-of-the-art technologies, our mission is to improve the energy efficiency of vehicles,
    reduce operating costs and contribute to a cleaner and healthier urban environment. PVTutt'Elettrico is a step
    towards a greener city and the reduction of the environmental impact of public transport, contributing significantly
    to citizens' quality of life.<br>
    The project was financed by the <a href="https://www.bav.admin.ch/bav/it/home.html" target="_blank">Federal Office of Transport</a>
    as part of the <a href="https://www.bav.admin.ch/bav/it/home/temi-generali/ricerca-e-innovazione/programmi-di-ricerca-e-d-innovazione/Energia2050.html" target="_blank">SETP 2050</a> programme activities.
</div>
<br><br>
<div class="container" align="justify">
    PVxTE è un progetto open-source, il cui codice è pubblicato al seguente link: <a href="https://github.com/supsi-dacd-isaac/pvxte-web" target="_blank">github.com/supsi-dacd-isaac/pvxte-web</a>.<br>
    PVxTE is an open-source project, its code is published at the following link: <a href="https://github.com/supsi-dacd-isaac/pvxte-web" target="_blank">github.com/supsi-dacd-isaac/pvxte-web</a>.
</div>
<br><br><br><br>
<div class="table_logos">
    <div class="cell_logos"><img src="static/logos/supsi.png" style="width:205px;height:88px;"></div>
    <div class="cell_logos"><img src="static/logos/amsa.png" style="width:320px;height:120px;"></div>
    <div class="cell_logos"><img src="static/logos/fart.png" style="width:192px;height:144px;"></div>
    <div class="cell_logos"><img src="static/logos/protoscar.png" style="width:280px;height:132px;"></div>
    <div class="cell_logos"><img src="static/logos/ch.png" style="width:256px;height:64px;"></div>
</div>
{% endblock %}
