{% if 'username' in session.keys() and session['username'] != '' %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'base_not_logged_home.html' %}
{% endif %}

{% block content %}
    {% if 'username' in session.keys() and session['username'] != '' %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>{{ gettext('Simulations') }}:</h3></a>
              </li>
        </ul>
    </nav>
    <div>
        <table class="table-pvxte-sims">
        <thead>
            <tr>
                <td>{{ gettext('Created at') }}:</td>
                <td>{{ gettext('Company') }}:</td>
                <td>{{ gettext('Bus Line') }}:</td>
                <td>{{ gettext('Day Type') }}:</td>
                <td>{{ gettext('Battery size') }} [kWh]:</td>
                <td>{{ gettext('Max. Charge') }} [kW]:</td>
                <td>{{ gettext('Detail') }}:</td>
                <td>{{ gettext('Delete') }}:</td>
            </tr>
        </thead>
        {% for sim in sims %}
            <tbody>
                <tr>
                    <td>{{ sim['created_at_dt'] }}</td>
                    <td>{{ sim['company'] }}</td>
                    {% if sim['line'] != None %}
                        <td>{{ sim['line'] }}</td>
                        <td>{{ sim['day_type'] }}</td>
                        <td>{{ sim['battery_size'] }}</td>
                        <td>{{ sim['max_charging_power'] }}</td>
                        <td>
                            <a class="link-dark" href="{{ url_for('detail', id=sim['id']) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a class="link-dark" href="{{ url_for('index', id=sim['id'], del='y') }}" onclick="return confirm('{{ gettext('Are you sure you want to delete the simulation?') }}')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                </svg>
                            </a>
                        </td>
                    {% else %}
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>

    <footer>
        {% include 'footer_logged.html' %}
    </footer>

    {% else %}
        <!-- Landing page -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"><h3>{{ gettext('PVTutt\'Elettrico Web Tool') }}</h3></a>
                  </li>
                </ul>
            </nav>
        </div>
    {% endif %}


{% endblock %}