{% extends 'base_not_logged.html' %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"><h3>{{ gettext('Login') }}</h3></a>
                  </li>
            </ul>
        </nav>
        <form action="" method="post">
          <fieldset>
            <table class="table-sm-form-simple-left">
                <tbody>
                    <tr>
                        <td>{{ gettext('Username') }}:</td>
                        <td><input type="text" placeholder="Username" name="username" value="{{request.form.username }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Password') }}:</td>
                        <td><input type="password" placeholder="Password" name="password" value="{{request.form.password }}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center-align-cell"><button type="submit" class="btn btn-primary" >Login</button></td>
                    </tr>
                </tbody>
            </table>
          </fieldset>
        </form>
    </div>
    <br><br>
    <div class="container">
        <p class="info"><strong>{{ gettext('Registration') }}:</strong> {{ signup_info }}
    </div>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='en') }}">Not registered? Please sign up here!</a>
    </div>
    <br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='it') }}">Non hai un account? Registrati qui!</a>
    </div>
    <br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='de') }}">Nicht registriert? Bitte melden Sie sich hier an!</a>
    </div>
    <br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='fr') }}">Vous n'êtes pas encore inscrit? Inscrivez-vous ici!</a>
    </div>


    <br>
    {% if error %}
    <div class="container">
        <p class="error"><strong>{{ gettext('Error') }}: {{ error }}</strong>
    </div>
    {% endif %}
    <br>

{% endblock %}

</body>

