<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVXTE Web GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2-dist/css/bootstrap_pvxte.css') }}">
</head>
<body>
{% block content %}
    <div class="container">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</span></a>
              </li>
        </ul>
    </div>
    <div class="container">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"><h3>Login</h3></a>
                  </li>
            </ul>
    </div>
    <div class="container">
        <form action="" method="post">
          <fieldset>
            <table class="table-sm-form">
                <tbody>
                    <tr>
                        <td>{{ gettext('Username') }}:</td>
                        <td><input type="text" placeholder="Username" name="username" value="{{request.form.username }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Password') }}:</td>
                        <td><input type="password" placeholder="Password" name="password" value="{{request.form.password }}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button type="submit" class="btn btn-dark" >Login</button></td>
                    </tr>
                </tbody>
            </table>
          </fieldset>
        </form>
        {% if error %}
        <p class="error"><strong>{{ gettext('Error') }}:</strong> {{ error }}
        {% endif %}
        {% if signup_info %}
        <p class="info"><strong>{{ gettext('Registration') }}:</strong> {{ signup_info }}
        {% else %}
    </div>
    <br><br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='en') }}">Not registered? Please sign up here!</a>
    </div>
    <br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='it') }}">Non hai un account? Registrati qui!</a>
    </div>
    <br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='de') }}">Nicht registriert? Bitte melden Sie sich hier an!</a>
    </div>
    <br>
    <div class="container">
        <a class="link-dark" href="{{ url_for('signup', lang='fr') }}">Vous n'êtes pas encore inscrit? Inscrivez-vous ici!</a>
    </div>
    {% endif %}

{% endblock %}
</body>