{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>{{ gettext('New bus model') }} - {{ bus_default_pars['length']|int }} {{ gettext('meters') }}</h3></a>
              </li>
        </ul>
    </nav>
    <form method="post" enctype = "multipart/form-data">
        <input type="hidden" class="form-control-sm" name="bus_type" value="{{ bus_default_pars['bus_type'] }}">
        <fieldset>
            <table class="table-sm-form-simple-left">
                <tbody>
                    <tr>
                        <td>{{ gettext('Name') }}</td>
                        <td><input type="text" class="form-control-sm" name="bus_name" value="{{ gettext('New') }}-{{ gettext('bus') }}-{{ bus_default_pars['length']|int }}m"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><b>{{ gettext('Bus section') }}</b></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Length') }}</td>
                        <td>{{ bus_default_pars['length'] }} m</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Bus cost') }}</td>
                        <td><input type="text" class="form-control-sm" name="capex_bus_cost" value="{{ bus_default_pars['default_cost'] }}">&nbsp;CHF</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Bus lifetime') }}</td>
                        <td><input type="text" class="form-control-sm" name="capex_bus_lifetime" value="12">&nbsp{{ gettext('years') }}</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Empty weight of a bus without battery') }}</td>
                        <td><input type="text" class="form-control-sm" name="empty_bus_weight" value="{{ bus_default_pars['weight'] }}">&nbsp;kg</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Maximum passengers capacity') }}</td>
                        <td><input type="text" class="form-control-sm" name="max_pass_cap" value="{{ bus_default_pars['max_capacity'] }}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><b>{{ gettext('Batteries section') }}</b></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Minimum required battery packs') }}</td>
                        <td><input type="text" class="form-control-sm" name="min_required_batt_packs" value="{{ bus_default_pars['min_required_batt_packs'] }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Maximum allowed battery packs') }}</td>
                        <td><input type="text" class="form-control-sm" name="max_allowed_batt_packs" value="{{ bus_default_pars['max_allowed_batt_packs'] }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Capacity of a battery pack') }}</td>
                        <td><input type="text" class="form-control-sm" name="batt_pack_capacity" value="{{ bus_default_pars['batt_pack_capacity'] }}">&nbsp;kWh</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Battery lifetime') }}</td>
                        <td><input type="text" class="form-control-sm" name="capex_battery_lifetime" value="6">&nbsp{{ gettext('years') }}</td>
                    </tr>
                    <tr >
                        <td class="center-align-cell" colspan="2"><button type="submit" class="btn btn-primary" onclick="return confirm('{{ gettext('You are inserting a new bus model! Are you sure?') }}')">{{ gettext('Submit') }}</button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
  {% if error %}
    <br>
    <a class="nav-link"><h3><strong>{{ gettext('Error') }}:</strong> {{ error }}</h3></a>
  {% endif %}

  <footer>
      {% include 'footer_logged.html' %}
  </footer>
{% endblock %}