{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>{{ gettext('Create simulation') }}: {{ gettext('New simulation - step1') }}</h3></a>
              </li>
        </ul>
    </nav>
    <form method="post" enctype = "multipart/form-data">
        <fieldset>
            <table class="table-sm-form-simple-left">
                <tbody>
                    <tr>
                        <td>{{ gettext('Bus model') }}</td>
                        <td>
                            <select class="form-select" name="id_bus_model">
                                {% for bus_model in buses_models %}
                                    <option value="{{bus_model['id']}}">{{ bus_model['name'] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Timetable/line file') }}:</td>
                        <td><input class="form-control" type="file" name="data_file" /></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Battery capacity') }}</td>
                        <td><input type="text" class="form-control-sm" name="battery_capacity" value="350">&nbsp[kWh]</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Charging power') }}</td>
                        <td><input type="text" class="form-control-sm" name="charger_power" value="150">&nbsp[kW]</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Fee connection power') }}</td>
                        <td><input type="text" class="form-control-sm" name="fee_connection_power" value="250">&nbsp[kW]</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center-align-cell"><button type="submit" class="btn btn-primary">{{ gettext('Go to step 2') }}</button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
  {% if error %}
    <br>
    <a class="nav-link"><h3><strong>{{ gettext('Error') }}:</strong> {{ error }}</h3></a>
  {% endif %}

<footer>
    {% include 'footer_logged.html' %}
</footer>


{% endblock %}


