{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"><h3>New simulation - step2</h3></a>
              </li>
        </ul>
    </nav>
    <form method="post" enctype = "multipart/form-data">
        <input type="hidden" class="form-control-sm" name="data_file" value="{{ data_file }}">
        <input type="hidden" class="form-control-sm" name="bus_model_id" value="{{ bus_model_data['id'] }}">
        <input type="hidden" class="form-control-sm" name="bus_model_code" value="{{ bus_model_data['code'] }}">
        <input type="hidden" class="form-control-sm" name="bus_model_name" value="{{ bus_model_data['name'] }}">
        <fieldset>
            <table class="table-sm-form">
                <tbody>
                    <tr>
                        <td>Bus model</td>
                        <td>{{ bus_model_data['name'] }}</td>
                    </tr>
                    <tr>
                        <td>Lines</td>
                        <td>
                            <table class="table-sm-form">
                                <tbody>
                                    {% for line in lines %}
                                        <tr>
                                            <td>{{ line }}</td>
                                            <td><input type="checkbox" id="line_{{ line }}" name="line_{{ line }}"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Day type</td>
                        <td>
                            <select class="form-select" name="day_type">
                                {% for day_type in days_types %}
                                    <option value="{{day_type}}">{{ day_type }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Maximum charging power pantograph </td>
                        <td><input type="text" class="form-control-sm" name="p_max" value="450">&nbsp[kW]</td>
                    </tr>
                    <tr>
                        <td>Maximum charging power at deposit</td>
                        <td><input type="text" class="form-control-sm" name="pd_max" value="150">&nbsp[kW]</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><button type="submit" class="btn btn-dark" onclick="return confirm('You are launching a new simulation! Are you sure? It should take ~1 minute to finish!')">Run Simulation</button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
  {% if error %}
    <br>
    <a class="nav-link"><h3><strong>Error:</strong> {{ error }}</h3></a>
  {% endif %}


{% endblock %}


