{% extends 'base_not_logged.html' %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"><h4>{{ gettext('PVXTE Web GUI') }}: {{ gettext('Registration') }}&nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
                  </li>
            </ul>
        </nav>
        <form action="" method="post">
          <input type="hidden" class="form-control-sm" name="language" value="{{ language }}">
          <fieldset>
              <table class="table-sm-form-simple-left">
                <tbody>
                    <tr>
                        <td>{{ gettext('Username') }}:</td>
                        <td><input type="text" placeholder="{{ gettext('Username') }}" name="username" value="{{request.form.username }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Password') }}:</td>
                        <td><input type="password" placeholder="{{ gettext('Password') }}" name="password" value="{{request.form.password }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Email') }}:</td>
                        <td><input type="text" placeholder="{{ gettext('Email') }}" name="email" value="{{request.form.email }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Company') }}:</td>
                        <td>
                            <select id="companies_select" placeholder="{{ gettext('Company') }}" class="company" name="company">
                                {% for company in companies %}
                                    <option value="{{company}}">{{ company }}</option>
                                {% endfor %}
                                <option value="new">{{ 'New' }}</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>{{ gettext('New company') }}:</td>
                        <td><input id="new_company" type="text" placeholder="{{ gettext('New company') }}" name="new_company" value="{{request.form.company }}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center-align-cell"><button type="submit" class="btn btn-primary" >{{ gettext('Signup') }}</button></td>
                    </tr>
                </tbody>
              </table>
          </fieldset>
        </form>
      {% if error %}
        <p class="error"><strong>{{ gettext('Error') }}Error:</strong> {{ error }}
      {% endif %}
    </div>
    <br><br>
{% endblock %}


</body>

