<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gettext('PVXTE Web GUI') }}</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2-dist/css/bootstrap_pvxte.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='pvxte-simple-sidebar/css/styles_pvxte.css') }}">
</head>
<body>
{% block content %}
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-pvxte-top-bar border-bottom">
            <div class="container-fluid-coloured-pvxte">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link-pvxte" href="{{ url_for('login', lang=language) }}"><h4>{{ gettext('Home') }}</h4></a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"><h4>{{ gettext('PVXTE Web GUI') }}: {{ gettext('Registration') }}&nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
                  </li>
            </ul>
        </nav>
        <form action="" method="post">
          <input type="hidden" class="form-control-sm" name="language" value="{{ language }}">
          <fieldset>
              <table class="table-sm-form-simple-left">
                <tbody>
                    <tr>
                        <td>{{ gettext('Username') }}:</td>
                        <td><input type="text" placeholder="Username" name="username" value="{{request.form.username }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Password') }}:</td>
                        <td><input type="password" placeholder="Password" name="password" value="{{request.form.password }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Email') }}:</td>
                        <td><input type="text" placeholder="Email" name="email" value="{{request.form.email }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Company') }}:</td>
                        <td><input type="text" placeholder="company" name="company" value="{{request.form.company }}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center-align-cell"><button type="submit" class="btn btn-primary" >{{ gettext('Signup') }}</button></td>
                    </tr>
                </tbody>
              </table>
          </fieldset>
        </form>
      {% if error %}
        <p class="error"><strong>{{ gettext('Error') }}Error:</strong> {{ error }}
      {% endif %}
    </div>
    <br><br>
{% endblock %}

<footer>
    {% include 'footer_not_logged.html' %}
</footer>

</body>