{% extends 'base_not_logged.html' %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"><h4>{{ gettext('PVXTE Web GUI') }}: {{ gettext('Registration') }}&nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
                  </li>
            </ul>
        </nav>
        <form method="POST" action="{{ url_for('signup') }}">
          <input type="hidden" class="form-control-sm" name="language" value="{{ language }}">
          {{ form.hidden_tag() }}
          <fieldset>
              <table class="table-sm-form-simple-left">
                <tbody>
                    <tr>
                        <td>{{ gettext('Username') }}:</td>
                        <td>{{ form.username(size=32) }}</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Password') }}:</td>
                        <td>{{ form.password(size=32) }}</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Confirm Password') }}:</td>
                        <td>{{ form.confirm_password(size=32) }}</td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Email') }}:</td>
                        <td><input type="text" placeholder="{{ gettext('Email') }}" name="email" value="{{request.form.email }}"></td>
                    </tr>
                    <tr>
                        <td>{{ gettext('Company') }}:</td>
                        <td>
                            <select id="companies_select" placeholder="{{ gettext('Company') }}" class="company" name="company">
                                {% for company in companies %}
                                    <option value="{{company}}">{{ company }}</option>
                                {% endfor %}
                                <option value="new">{{ 'New' }}</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>{{ gettext('New company') }}:</td>
                        <td><input id="new_company" type="text" placeholder="{{ gettext('New company') }}" name="new_company" value="{{request.form.company }}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center-align-cell">{{ form.recaptcha }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center-align-cell"><button type="submit" class="btn btn-primary" >{{ gettext('Signup') }}</button></td>
                    </tr>
                </tbody>
              </table>
          </fieldset>
        </form>
      {% if error %}
        <p class="error"><strong>{{ gettext('Error') }}Error:</strong> {{ error }}
      {% endif %}

    {% if form.username.errors|length > 0 or form.password.errors|length > 0 or form.confirm_password.errors|length > 0 %}
        <br>
        <table class="table-sm-form-simple-left">
            <tbody>
            <thead>
                    <td>{{ gettext('ATTENTION! We have found the following errors during the signup process.') }}</td>
            </thead>
            {% for error in form.username.errors %}
                <tr>
                    <td>{{ error }}</td>
                </tr>
            {% endfor %}
            {% for error in form.password.errors %}
                <tr>
                    <td>{{ error }}</td>
                </tr>
            {% endfor %}
            {% for error in form.confirm_password.errors %}
                <tr>
                    <td>{{ error }}</td>
                </tr>
            {% endfor %}
            {% for error in form.recaptcha.errors %}
                <tr>
                    <td>{{ error }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
  </div>
  <br><br>
{% endblock %}


</body>

